.navbar {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 25px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #2563eb;
}

.search-box {
  display: flex;
  align-items: center;
  background: #f1f5f9;
  padding: 8px 15px;
  border-radius: 8px;
  width: 350px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 10px;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
}

.nav-links li:hover {
  color: #2563eb;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.video-btn {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: #ef4444;
  color: white;
  cursor: pointer;
}
.notification-sidebar {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100vh;
  background: #fff;
  box-shadow: -3px 0 15px rgba(0,0,0,0.15);
  transition: right 0.3s ease;
  z-index: 2000;
}

.notification-sidebar.open {
  right: 0;
}
.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: 1px solid #ddd;
}
.notification-header h3 {
  margin: 0;
}
.close-icon {
  cursor: pointer;
  font-size: 18px;
}
.notification-list {
  padding: 15px;
}
.notification-item:hover {
  background: #e9eef8;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.25);
  z-index: 1999;
}

.nav-icon {
  cursor: pointer;
  font-size: 20px;
}
.notification-actions {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.accept-btn,
.reject-btn {
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* Accept Button */
.accept-btn {
  background: #22c55e;
  color: white;
}

.accept-btn:hover {
  background: #16a34a;
  transform: translateY(-2px);
}

/* Reject Button */
.reject-btn {
  background: #ef4444;
  color: white;
}

.reject-btn:hover {
  background: #dc2626;
  transform: translateY(-2px);
}

/* Click Effect */
.accept-btn:active,
.reject-btn:active {
  transform: scale(0.96);
}
.notification-item {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.notification-item p {
  margin-bottom: 10px;
  line-height: 1.5;
  color: #333;
}
.notification-wrapper{
  position:relative;
  cursor:pointer;
}


.notification-badge{
  position:absolute;
  top:-8px;
  right:-8px;
  background:red;
  color:white;
  width:20px;
  height:20px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:12px;
  font-weight:bold;
}